
@font-face{
  font-family: 'Metropolis';
    src: url(../fonts/Metropolis-Medium.otf);
}
/* general-styles */
body {
  background-color: #f8f4e6;
  font-family: 'Muli', sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased; 
}
body p {
  font-family: 'Muli', sans-serif;
}
body .btn:focus {
    outline: none; 
}
a {
  text-decoration: none;
  color: inherit; 
}
a:hover {
  color: #7972de;
  text-decoration: none; 
}
a:focus {
  color: inherit;
  outline: none;
  text-decoration: none; 
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0; 
}
*, div, div:before, div:after, h1, h2, h3, p, ul, li, a, img {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box; 
}
html {
  overflow-x: hidden; 
}
/*padding*/
.no-padding {
  padding: 0; 
}
/*section-padding*/
.sec-padding {
  padding: 60px 0px; 
}
.sec1-padding {
  padding: 30px 0px; 
}
.sec-padding2 {
  padding-bottom: 30px; 
}
.sec-padding3 {
  padding: 60px 0 30px 0; 
}
/*scroll-function*/
.scrollup {
  width: 36px;
  height: 36px;
  opacity: 1;
  position: fixed;
  bottom: 30px;
  right: 33px;
  display: none;
  text-indent: -9999px;
  background: url(../images/scroll-top.png) no-repeat center center;
  z-index: 9001;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  display: none; 
}
.scrollup:hover {
  background: url(../images/scroll-top.png) no-repeat center center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
}
/*general-classes*/
ul li {
  list-style: none; 
}

a:hover{
  color: inherit;
}
/*naviagation*/
.navbar-default {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  padding-bottom: 15px;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  margin-bottom: 0px;
}
.navbar-default .navbar-brand {
  padding-left: 0; 
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-default .navbar-nav > .active > a:hover {
  color: #e49a1b !important;
  background-color: transparent !important;
  border-bottom: 0px solid #f9a632; 
}

.navbar-default .navbar-nav > li > a {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: normal;
  color: #242424;
  transition: 0.5s;
  padding-top: 0px;
  padding-bottom: 0px;

  margin-top: 20px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #e49a1b !important;
}

.navbar-default .navbar-nav > li > a .active {
  border-bottom: 1px solid #000; 
}
.navbar-default .navbar-toggle {
  margin-top: 15px;
  padding-right: 0;
  background-color: transparent;
  border-color: transparent;
  /* display: none; */
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000; 
}
.navbar-default .active{
  transition: 0.5s;
}
.navbar-default .navbar-nav>li>a{
  position: relative;
}
.navbar-default a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
  padding-top: 2px;
  display: inline-block;

}

.navbar-default a::before {
  position: absolute;
  top: 60%;
  left: 50%;
  color: transparent;
  content: '.';
  text-shadow: 0 0 transparent;
  font-size: 1.2em;
  -webkit-transition: text-shadow 0.3s, color 0.3s;
  -moz-transition: text-shadow 0.3s, color 0.3s;
  transition: text-shadow 0.3s, color 0.3s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
}
.navbar-brand1::before{
  display: none;
}
.navbar-default a:hover::before, .navbar-default a:focus::before {
  color: #ba7700;
  text-shadow: 10px 0 #ba7700, -10px 0 #ba7700;
}
.navbar-default .active a::before{
  color: #ba7700;
  text-shadow: 10px 0 #ba7700, -10px 0 #ba7700;
}

.navbar-brand:hover::before, .navbar-brand:focus::before {
  display: none;
}

.navbar-default a:hover, .navbar-default a:focus {
  color: #ba7700;
}
/*sticky-header*/
.stikey-header {
  display: none; 
}
.header-section.pin-style.pin {
  background: #fff;
  -webkit-transition: all .6s;
  transition: all .6s;
  width: 100%;
  z-index: 9999999; 
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}
.header-section.pin-style.pin .navbar-default {
  margin-bottom: 0;
  /* padding: 0; */
}
.header-section.white.pin-style.pin {
  background: #fff;
}
.header-section.pin-style.before {
  -webkit-transition: all .6s;
  transition: all .6s; 
}
.header-section.pin-start {
  position: absolute;
  -webkit-transition: all .6s;
  transition: all .6s;
  box-shadow: 0 5px 50px rgba(40, 40, 40, 0.15);
  -webkit-box-shadow: 0 5px 50px rgba(40, 40, 40, 0.15);
  -moz-box-shadow: 0 5px 50px rgba(40, 40, 40, 0.15);
  background:#fff !important; 
}
@media only screen and (min-width: 1001px) {
  .navbar-brand1 {
    float: left;
    height: 50px;
    font-size: 18px;
    line-height: 20px;
    padding-left: 0;
    z-index: 9999999999999999; 
  } 
}
@media only screen and (max-width: 1000px) {
  .header-section.off {
    position: fixed;
  }
  .header-section {
    border: none;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 999; 
  }
}
/* sticky-section */
.header-section.pin-style.pin-start {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
  background: #dedddd;
  -ms-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -op-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -ms-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -op-animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -op-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -op-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* header-section */
.header-section{
  width: 100%;
  z-index: 999999;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.06);
  background-color: #fbfbfb;
  -webkit-transition: all .6s;
  transition: all .6s;
  position: fixed;

}
@media (min-width: 768px){
  .navbar-header1 {
    float: left;
  }
}

.bg-text h5{
  font-size: 70px;
  color: #F5F4F4;
  font-weight: 800;
}
.mission .bg-text h5{
  color: #F0ECEA;
}
.choose .bg-text h5{
  color: #F0ECEA;;
}
/* banner css */
.banner{
  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh;
  /* background: url(../images/banner-bg.png) 0 0 no-repeat; */
  background-size: cover;
  padding-top: 12vh;
  justify-content: center;
}
.banner img {
  width: 100%;
}
.banner .carousel {
  width: 100%;
  height: 100vh;
  position: absolute;
  /* z-index: -1; */
}
.banner .index-value{
  z-index: 9;
}
@media screen and (min-width: 768px) {
.carousel-indicators {
    bottom: 55px;
}
}
.heading{
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #000000;
  font-family: 'Gelasio', serif;
}
.description{
  text-align: center;
}
.banner h1{
  padding-bottom: 15px;
  font-family: 'Gelasio', serif;
  font-size: 50px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #fff;
  margin-top: 64px;
}
.banner h3{
  color: #fff;
  font-weight: 800;
}
.banner .carousel-indicators li{
  width: 9px;
  height: 9px;
  opacity: 0.3;
  background-color: #ffffff;
  margin: 0 3px;
  cursor: pointer;
}
.banner .carousel-indicators li.active {
  width: 19px;
  height: 9px;
  border-radius: 4.5px;
  background-color: #ffffff;
  opacity: 1;
  margin-top: -3px;
}
.banner h1 span {
  background: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  color: #000;
}
.banner p{
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height:30px;
  letter-spacing: normal;
  color: #fff;
  padding-top: 20px;
}
.banner p span{
  font-size: 30px;
}
.banner a img{
  width: 15px;
  display: inline-block;
  margin-left: 11px;
}
.banner a{
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e49a1b;
  position: relative;
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  width: 174px;
  margin-top: 30px;
}
.banner a:after {
  position: absolute;
  content: "";
  left: -5px;
  top: 2px;
  height: 41px;
  width: 41px;
  border-radius: 50%;
  background-color: #f7b500;
  opacity: 0.2;
  z-index: 0;
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.banner a:hover:after{
  /* right: 4px; */
  left: 125px;
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.banner a:hover{
  padding-left: 0px;
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  color: #e49a1b;
}




/* choose css */
.choose{
  position: relative;
  background-color: #faf7f5;
}
.choose .bg-text {
  position: absolute;
  transform: rotate(270deg);
  left: -230px;
  top: 41%;
}
.choose .description{
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #242424;
}
.choose-box{
  border-radius: 6px;
  border: solid 0.5px #abafb6;
  background-color: #ffffff; 
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  /* border-radius: 5px; */
  padding: 30px;
  text-align: center;
  margin-top: 50px;
}
.choose-box:hover{
  box-shadow: 0 16px 40px -10px rgba(22, 42, 97, 0.19);
  /* border: solid 1px #164499; */
  transform: scale(1.06)!important;
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.choose-box span{
  display: inline-block;
  min-height: 360px;

}
.choose-box img{
  margin: 0 auto;
  padding-bottom: 0;
  padding-top: 0;
  min-height: 150px;
  overflow: hidden;
  max-width: max-content;

}
.choose-box h3{
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #212d37;
  padding-bottom: 25px;
}
.choose-box p{
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #212d37;
}

.choose-box  {
  border: solid 0.5px #cdd0d4;
  background-color: #ffffff;
  /* margin: 15px; */
  margin-top: 30px;
  outline: 0 none;
  padding: 15px 13px;
  position: relative;
  transition: all 0.75s ease-in-out 0s;
  cursor: pointer;
}

.choose-box::after, .choose-box::before {
  border-radius: 4px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: all 0.5s ease-in-out 0s;
  width: 100%;
  z-index: 3;
}

.choose-box::before {
  border-bottom: 1px solid #164499;
  border-left: 1px solid #164499;
  transform-origin: 0 100% 0;
}

.choose-box::after {
  border-right: 1px solid #164499;
  border-top: 1px solid #164499;
  transform-origin: 100% 0 0;
}

.choose-box:hover::after, .choose-box:hover::before {
  transform: scale(1);
}
.choose-box:hover {
  border: 1px solid rgba(0, 160, 80, 0);
}














/* works css */
.works{
  background: url(../images/fill-2.svg) left 0 no-repeat #fff;
  color: #fff;
  position: relative;
  padding-top: 80px;

}
.works h2{
  color: #242424;
  font-weight: bold;
}
.works p{
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
  color: #242424;
}
.works .circle1{
  position: absolute;
  right: 300px;
  top: 35px;
}
.works .circle2{
  position: absolute;
  right: 119px;
    top: 189px
}
.works ul{
  padding-left: 0px;
  list-style: none;
}
.work-box {
  position: relative;
  margin-top: 70px;
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.work-box h4{
  position: absolute;
  left: -23px;
  top: -50px;
  z-index: 0;
  opacity: 0.05;
  font-family: Helvetica;
  font-size: 100px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #20223b;
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.work-box h3{
  padding-bottom: 20px;
  font-family: 'Gelasio', serif;
  color: #242424;
  font-size: 22px;
  font-weight: bold;
}
.works ul li{
  position: relative;
  padding-left: 15px;
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #242424;
}
.work-box:hover  h4{
  left: -50px;
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.works ul li::after{
  position: absolute;
  left: 0;
  top: 7px;
  background-color: #f7b500;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  content: "";
}

/* whowe */
.whowe {
  position: relative;
  background: #fff;
  background: url(../images/about-bg.svg) right center no-repeat #fff;
  padding-bottom: 140px;
  padding-top: 90px;

}
.whowe .bg-text {
  position: absolute;
  position: absolute;
  transform: rotate(270deg);
  left: -122px;
  top: 38%;
}
.whowe .box-sec {
  border-radius: 4px;
  box-shadow: 0 32px 43px -10px rgba(0, 0, 0, 0.13);
  border: solid 0.5px #164499;
  background-color: #ffffff;
  position: absolute;
  right: 37px;
    bottom: -31px;
    padding: 30px;
    font-family: 'Gelasio', serif;
}
.whowe .box-sec h3{
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #060b0f;
  font-family: 'Gelasio', serif;
}
.whowe p{
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #1a1d20;
  padding-bottom: 20px;
}
.whowe .one-p{
  padding-bottom: 20px;
  margin-bottom: 0;
}
.whowe .img-box {
  padding: 10px;
  border-radius: 5px;
  max-width: 421px;
  background: url(../images/dot.svg) right -29px top no-repeat;
  text-align: center;
  padding-top: 35px;
}
.whowe h2{
  text-align: left;
  padding-bottom: 15px;

}
.whowe .line-img{
  /* padding-top: 55px; */
}
.box-sec  {
  background: white;
  margin: 15px;
  outline: 0 none;
  padding: 15px 25px;
  position: relative;
  transition: all 0.75s ease-in-out 0s;
  cursor: pointer;
}

.box-sec::after, .box-sec::before {
  border-radius: 4px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: all 0.5s ease-in-out 0s;
  width: 100%;
  z-index: 3;
}

.box-sec::before {
  border-bottom: 1px solid #164499;
  border-left: 1px solid #164499;
  transform-origin: 0 100% 0;
}

.box-sec::after {
  border-right: 1px solid #164499;
  border-top: 1px solid #164499;
  transform-origin: 100% 0 0;
}

.box-sec:hover::after, .box-sec:hover::before {
  transform: scale(1);
}
.choose-box:hover {
  border: 1px solid rgba(0, 160, 80, 0);
}
.whowe a{
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e49a1b;
  position: relative;
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  width: 174px;
}
.whowe a:after {
  position: absolute;
  content: "";
  left: -0px;
  top: 2px;
  height: 41px;
  width: 41px;
  border-radius: 50%;
  background-color: #f7b500;
  opacity: 0.2;
  z-index: 0;
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.whowe a:hover:after{
  /* right: 4px; */
  left: 126px;
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.whowe a:hover{
  padding-left: 0px;
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  color: #e49a1b;
}
.whowe a img {
  width: 15px;
  display: inline-block;
  margin-left: 11px;
}


/* what we css */
.whatwe {
  background-color: #161832;
  position: relative;
}
.whatwe .bg-text {
  position: absolute;
  transform: rotate(270deg);
  right: -175px;
  top: 41%;
}
.whatwe .bg-text h5{
  color: #20223B;
}
.whatwe h2{
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}
.whatwe p{
  font-size: 19px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  /* line-height: normal; */
  line-height: 1.79;
  letter-spacing: normal;
  color: #ffffff;
  padding-bottom: 50px;
}
.carousel-control.left, .carousel-control.right{
  text-shadow: none;
  width: 50px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  height: 50px;
  background: #fff;
  justify-content: center;
  opacity: 1;
  top: 50%;
}
.carousel-control.left{
 
}
.carousel-control.right{
  /* right: 50%; */
}
.carousel-control.left::before{
  font-family: FontAwesome;
    content: "\f104";
    display: inline-block;
    padding-right: 3px;
    color: #000;
    vertical-align: middle;
    font-weight: 600;
    font-size: 40px;
}
.carousel-control.right::before{
  font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-right: 3px;
    color: #000;
    vertical-align: middle;
    font-weight: 600;
    font-size: 40px;
}
.whatwe .we-box{
  text-align: center;
  border-radius: 6px;
  border: solid 0.5px rgba(225,225,225,0.3);
  padding: 24px 6px 21px;
  margin-bottom: 40px;
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  cursor: pointer;
  /* max-width: 90%; */
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.whatwe .we-box p{
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  color: #9a94a3;
  padding-bottom: 0px;
}

.whatwe .we-box:hover{
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  background: #3a3d60;
  border-color: #3a3d60;
  color: #fff;
  box-shadow: 0 16px 40px -10px rgba(22, 42, 97, 0.19);
}
.whatwe .we-box:hover p{
  color: #fff;
}
.whatwe a img{
  width: 15px;
  display: inline-block;
  margin-left: 11px;
}
.whatwe a{
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  position: relative;
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.whatwe a:after {
  position: absolute;
  content: "";
  left: -5px;
  top: 2px;
  height: 41px;
  width: 41px;
  border-radius: 50%;
  background-color: #3a3d60;
  opacity: 0.2;
  z-index: 0;
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.whatwe a:hover:after{
  /* right: 4px; */
  left: 121px;
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}
.whatwe a:hover{
  padding-left: 0px;
  color: #ffffff;
  transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
}



.btn10{
  position: relative;
  overflow: hidden!important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: transparent!important;
  z-index:10;
  
}

.btn10::before {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #3a3d60;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg); 
  transform: skewX(-20deg);   
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
-o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
-webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
   box-shadow:2px 0px 14px rgba(0,0,0,.6);
} 

.btn10::after {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #3a3d60;
  position: absolute;
-ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg); 
  transform: skewX(-20deg);   
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
  -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  transition: all .4s cubic-bezier(.2,.95,.57,.99);
  box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.btn10:hover::before, .btn1O:hover::before{
opacity:1;
width: 116%;
}
.btn10:hover::after, .btn1O:hover::after{
opacity:1;
width: 120%;
}





/* mission css */
.mission {
  position: relative;
  background-color: #faf7f5;
  padding: 270px 0 100px 0;
}
.mission .bg-text1 {
  position: absolute;
  transform: rotate(270deg);
  left: -278px;
  top: 35%;
}
.mission .bg-text2 {
  position: absolute;
  transform: rotate(270deg);
  right: -250px;
  bottom: 14.5%;
}
.bgimg1{
  position: absolute;
  top: 6%;
  left: 22%;
  z-index: 0;
}
.bgimg2{
  position: absolute;
  top: 54%;
  right: 4%;
}
.mission .mission-content {
  /* padding: 20px; */
  text-align: left;
  margin-top: -26px;
  
}
.mission .mission-box-one {
  margin-bottom: 200px;
}
.mission .mission-box-two  .mission-content{
  margin-left: 81px;
}
.mission .mission-content h2{
  text-align: left;
  padding-bottom: 5px;
  background: #faf7f5;
  padding-top: 20px;
  z-index: 99999;
  position: relative;
  width: max-content;
  padding-right: 53px;
  padding-left: 30px;
}
.mission .mission-content .heading1{
  width: unset;
}
.mission .mission-content p{
  text-align: left;
  padding-bottom: 20px;
  background: #faf7f5;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #1a1d20;
  padding-left: 30px;
}
.mission-box{
  padding-right: 39px;
  position: relative;
  z-index: 9;


}


/* footer css */
.footer {
  background: #fff;
  padding-bottom: 0px;
  padding-top: 80px;
}
.footer .footer-logo{
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 50px;
}
.reach-us li{
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.49;
  letter-spacing: normal;
  color: #434242;
}

.footer .map{
  color: #f7b500;
  text-decoration: underline;
  font-size: 16px;

}
.reach-us li a{
  font-size: 14px;
  font-weight: bold;
  color: #f7b500;
}
.modal{
  margin-top: 100px;
}
.modal img{
  max-width: 100%;
}
@media (min-width: 768px) {
.modal-dialog {
    width: 800px;
}
}
.modal-header{
  position: relative;
}
.modal .close{
  position: absolute;
  right: 15px;
  top: 15px;
}
.reach-us li:last-child a{
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  padding-right: 20px;
  color: #000000;
}
.footer h2 {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  color: #000000;
  padding-bottom: 15px;
}
.footer-bg {
  width: 100%;
}
.footer p{
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  /* text-align: center; */
  color: #000000;
}
.footer ul li i{
  color: #f7b500;
  font-size: 25px;
  transition: 0.5s;
}
.footer ul li i:hover{
  transform: scale(1.3);
  transition: 0.5s;
}
.footer li{
  display: inline-block;
  margin-right: 15px;
}
.footer .line{
  border-right: solid 1px rgba(33, 44, 54, 0.2);
}



/* copyright */
.copyright{
  background-color: #161832;
  padding: 21px 0 16px;
  text-align: center;
}

.copyright p{
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #ffffff;
}
body{
  overflow-x: hidden;
}
.navbar-default .navbar-toggle{
  background-color: transparent;
}
.about-page{
  padding-top: 120px;
  background: url(../images/about-bg.svg) right top 283px no-repeat #fff;
  /* background: url(../images/about-bg.svg) right center no-repeat #fff; */
}
.about-page .description1{
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #1a1d20;
}

.about-page .description1-first {
  padding-top: 50px;
  padding-bottom: 15px;
}
.about-page span{
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  /* text-align: center; */
  color: #1a1d20;
  display: inline-block;
  margin-top: -10px;
  margin-bottom: 20px;
}
.about-page span img{
  width: 12px;
  fill: #1a1d20;
  display: inline-block;
  margin-right: 11px;
  transform: rotate(180deg)!important;
}
.about-page .heading{
  line-height: 1;
  padding-top: 5px;
}
.about-page.choose .bg-text {
  position: absolute;
  transform: rotate(270deg)!important;
  left: -124px;
  top: 32%;
}
.about-page .description1{
  max-width: 85%;
  margin: 0 auto;
}
.about-page .description1-second {
  padding-bottom: 15px;
}
.reach-us{
  max-width: 92%;
  margin: 0 auto;
}
.social-left{
  margin: 0 auto;
  padding-left: 46px;
}



/*PRELOADING------------ */
#overlayer {
  width:100%;
  height:100%;  
  position: fixed;;
  z-index: 999999999999999;
  background: #161832;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 99999999999;
  border: 4px solid #Fff;
  top: 50%;
  animation: loader 2s infinite ease;
  left: 50%;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}



.project-list{
  margin-top: 120px;
}
.project-list h3{
  padding-top: 10px;
  margin-bottom: 40px;
  font-weight: 700;
}
.project-list.details img{
  margin-bottom: 40px;
}
.project-list img{
  transition: 0.5s;
}
.project-list img:hover{
  transition: 0.5s;
  transform: scale(1.02);
}
.project-list h2{
  text-align: center;
  padding-top: 10px;
  margin-bottom: 40px;
  font-weight: 700;
}













/*
====================================================
	responsive-css
===================================================
*/

@media (min-width: 1600px){

}



/*
====================================================
	medium devices
===================================================
*/
@media (min-width: 992px){
  .mission .col-md-offset-2 {
    margin-left: 13.666667%;
  }
  .mission .col-md-offset-4 {
    margin-left: 40.333333%;
  }
}


@media only screen and (max-width: 991px) {
  .banner h1 br, .banner p br, .mission .mission-content p br,
  .works p br, .choose .description br, .choose-box p br, .whowe p br, .whatwe p br{
    display: none;
  }
  .banner h1{
    font-size: 40px;
  }
  .navbar-default a {
    padding-top: 6px;
  }
  .mission .mission-box-two .mission-content{
    margin-left: 0px;
  }
  .reach-us{
    max-width: 100%;
    /* margin: 0 auto; */
  }
  .social-left{
    /* margin: 0 auto; */
    padding-left: 15px;
  }
  .banner img {
    width: 100%;
    height: 100vh!important;
  }
  .footer .line{
    border-right: solid 0px #212d37;
    text-align: center;
  }
  .heading{
    line-height: 1.2;
  }
  .navbar-default .navbar-nav>li>a{
    padding: 10px 5px;
    line-height: 7px;

  }
  .choose-box{
    margin-right: 0;
    margin-left: 0px;
  }
  .social-left {
    text-align: center;
  }
 }
/*
====================================================
	small Devices, Tablets
===================================================
*/
@media only screen and (max-width: 767px) {
  #nav-icon1, #nav-icon2 {
    width: 35px;
    height: auto;
    position: relative;
    margin-top: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: inline-block;
    /* text-align: right; */
    float: right;
  }
  #nav-icon2 {
  }
  
  #nav-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: #242424;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }
  
  #nav-icon2 span:nth-child(odd) {
    left:0px;
    border-radius: 9px 0 0 9px;
  }
  
  #nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
    top: 0px;
  }
  
  #nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
    top: 9px;
  }
  
  #nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
    top: 18px;
  }
  
  #nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }
  
  #nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;

  }
  
  #nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  
  #nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  
  #nav-icon2.open span:nth-child(5) {
    left: 4px;
    top: 15px;
  }
  
  #nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 15px;
  }
  .navbar-collapse{
    height: 0%;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  .mystyle{
    display: block;
    height: 100vh;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }  
  /* .navbar-collapse {
    display: block;
  } */
  .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}



  .banner img {
    width: 100%;
    height: 100vh!important;
  }
  .mobile-space{
    padding: 0 27px;

  }
  .whatwe p {
    font-size: 17px;
  }
  .carousel-indicators {
    position: absolute;
    bottom: 37px;
  }
  .navbar-default a {
    padding-top: 4px;
  }
  .banner h1{
    font-size: 20px;
  }
  .banner h1 span{
    display: block;
    margin-bottom: 10px;
  }
  .heading{
    line-height: 1.75;
  }
  .footer .line{
    border-right: solid 0px #212d37;
    text-align: center;
  }
  .navbar-default .navbar-nav li{
    width: fit-content;
    margin: auto;
  }
  .banner {
    /* background: #fff; */
    height: 100vh;
    padding-top: 10vh;
  }
  .banner p{
    font-size: 18px;
  }
  .banner a{
    margin-top: 30px;
  }
  .whowe .box-sec{
    right: 0;
    left: 0;
    margin: auto;
    max-width: 80%;
  }
  .whowe{
    padding-bottom: 60px;
  }
  .heading, .whatwe h2 {
    font-size: 30px;
  }
  .whowe .line-img {
    padding-top: 84px;
  }
  .whatwe .we-box{
    max-width: 100%;
    margin-bottom: 30px;
    padding: 20px 6px 17px;
  }
  .whatwe .text-right{
    text-align: center!important;
  }
  .mission-box{
    padding-right: 0px;
  }
  .mission .mission-content h2, .mission .mission-content p{
    padding-left: 0px;
  }
  .mission .mission-content{
    padding: 10px;
    padding-top: 0px;
    /* background: #fff; */

    margin-top: 0px;
  }
  .mission .mission-content h2{
    padding-right: 0px;
  }
  .mission .mission-box-one{
    margin-bottom: 0px;
  }
  .mission{
    padding: 70px 0;
  }
  .mission .mission-box-two .mission-content{
    margin-left: 0px;
  }
  .work-box {
    position: relative;
    margin-top: 35px;
  }
  .footer .map{
    margin-bottom: 40px;
    display: inline-block;
  }
  .reach-us li:last-child{
    margin-bottom: 40px;
  }
  .footer h2{
    text-align: center;
  }
  .list-unstyled{
    text-align: center;
  }
  .footer-bg{
    max-width: 100%;
  }
  .choose-box{
    padding: 20px;
    max-width: 90%;
    margin: auto;
    margin-top: 30px;

  }
  .about-page {
    padding-top: 120px;
  }
  .about-page .description1{
    max-width: 100%;
  }
  .about-page span{
    margin-top: 15px;
  }
  .choose-box span {
    display: inline-block;
    min-height: auto;
}
	.reach-us li:last-child a{
		    width: 100%;
    display: block;
    margin-right: 0;
    padding-right: 0;
    padding-bottom: 10px;
	}
}
/*
============================================================
	Extra Small Devices, Phones
============================================================
*/
@media only screen and (max-width: 480px) {
 
}


